.footer{
    width: 30%;
    height: 40px;
    display: flex;
    background-color: white;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    border-color: gray;
    border-style: solid;
    border-width: 0 1px 1px 1px;
    box-sizing: border-box;
}
.completed{
    flex: 5;
    margin-left: 20px;
    color: gray;
}
.footer-btn{
    border: 0;
    line-height: 1.5rem;
    font-size: 15px;
    background-color: gray;
    margin-right: 10px;
}
@media (max-width:950px) {
    .completed{
        font-size: 12px;
    }
    .footer-btn{
        font-size: 12px;
    }
}
@media (max-width:800px) {
    .completed{
        font-size: 10px;
    }
    .footer-btn{
        font-size: 10px;
    }
}